<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Michael's Trip Planner</title>
    </head>
    <body>
        <header>
            <div class="header">
                <h1>Michael's Trip Planner</h1>
            </div>
        </header>
        <main>
            <section id="inputSection">
                <h3>Input Section</h3>
            </section>
            <section id="outputSection">
                <h3>Output Section</h3>
            </section>
        </main>
        <footer>
            <p>&copy Michael Smales April 2022</p>
        </footer>
    </body>
</html>
