<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Michael's Trip Planner</title>
    </head>
    <body>
        <header>
            <div class="header">
                <h1>Michael's Trip Planner</h1>
            </div>
        </header>
        <main>
            <section id="inputSection">
                <form class="inputForm">
                    <select id="countryDropDown" name="country">
                    <textarea class="inputPara" id="inputCity" placeholder="Which town / city are you visiting?"></textarea> 
                    <input type="date" id="dateInput">
                    <input type="button" id="actionButton" value="Add trip!" onclick="Client.addTrip(event)">
                </form>
            </section>
            <section id="outputSection">
                <!-- to be filled by javascript -->
                <div id="trip_card_1" class="tripCard">
                    <div>
                        <img src="https://pixabay.com/get/g455b816529a4bf5e2582e32a41b085c6115e38b1305c468c91c5c8a2b9485ce743b344f3f1c498a7c1524e6bfd9f6b04_640.jpg" alt="Trip Headline">
                    </div>
                    <div class="tripInfo">
                        <h2>Buenos Aires, Argentina</h2>
                        <h3>YYYY-MM-DD</h3>
                        <div class="tripControls">
                            <input type="button" value="Delete Trip" onclick="Client.deleteTrip(parseInt(5))"></div>
                        </div>
                    </div>
                    <div class="weatherForecast">
                        <div class="dailyForecast" id="trip_1_forecast_1">
                            <p>Tues 7</p>
                            <img src="./images/a01n.png" alt="weather_icon">
                            <p>H 25</p>
                            <p>L 15</p>
                        </div>
                        <div class="dailyForecast" id="trip_1_forecast_2">
                            <p>Tues 7</p>
                            <img src="./images/a01n.png" alt="weather_icon">
                            <p>H 25</p>
                            <p>L 15</p>
                        </div>
                        <div class="dailyForecast" id="trip_1_forecast_3">
                            <p>Tues 7</p>
                            <img src="./images/a01n.png" alt="weather_icon">
                            <p>H 25</p>
                            <p>L 15</p>
                        </div>
                        <div class="dailyForecast" id="trip_1_forecast_4">
                            <p>Tues 7</p>
                            <img src="./images/a01n.png" alt="weather_icon">
                            <p>H 25</p>
                            <p>L 15</p>
                        </div>
                        <div class="dailyForecast" id="trip_1_forecast_5">
                            <p>Tues 7</p>
                            <img src="./images/a01n.png" alt="weather_icon">
                            <p>H 25</p>
                            <p>L 15</p>
                        </div>
                        <div class="dailyForecast" id="trip_1_forecast_6">
                            <p>Tues 7</p>
                            <img src="./images/a01n.png" alt="weather_icon">
                            <p>H 25</p>
                            <p>L 15</p>
                        </div>
                        <div class="dailyForecast" id="trip_1_forecast_7">
                            <p>Tues 7</p>
                            <img src="./images/a01n.png" alt="weather_icon">
                            <p>H 25</p>
                            <p>L 15</p>
                        </div>
                        <div class="dailyForecast" id="trip_1_forecast_8">
                            <p>Tues 7</p>
                            <img src="./images/a01n.png" alt="weather_icon">
                            <p>H 25</p>
                            <p>L 15</p>
                        </div>
                        <div class="dailyForecast" id="trip_1_forecast_9">
                            <p>Tues 7</p>
                            <img src="./images/a01n.png" alt="weather_icon">
                            <p>H 25</p>
                            <p>L 15</p>
                        </div>
                        <div class="dailyForecast" id="trip_1_forecast_10">
                            <p>Tues 7</p>
                            <img src="./images/a01n.png" alt="weather_icon">
                            <p>H 25</p>
                            <p>L 15</p>
                        </div>
                    </div>
            </section>
        </main>
        <footer>
            <p>&copy Michael Smales April 2022</p>
        </footer>
    </body>
</html>
