/* body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    flex: 2;
}


section {
    max-width: 1000px;
    margin: 50px auto;
}

/* INPUT FORM */
.inputForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    #countryDropDown {
        margin: 0;
        width: 280px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        padding: 10px;
    }
    
    #inputCity {
        font-family: sans-serif;
        padding: 10px 10px;
        line-height: 18px;
        height: 18px+20px;
        resize: none;
        overflow: hidden;
        margin: 0;
        width: 280px;
        border: 1px solid lightgrey;
        border-radius: 5px;
    }

    #dateInput {
        margin: 0;
        font-family: sans-serif;
        max-width: 120px;
        padding: 10px; 
        border: 1px solid lightgrey;
        border-radius: 5px;
    }
    
    #actionButton {
        width: 300px;
        margin: 0;
        border: 1px solid lightgrey;
        border-radius: 5px;
    }
}


/* Tablets */
@media (max-width: 1000px) {
    section {
        max-width: 600px;
        margin: 50px auto;
    }
}


/* Small screens */
@media (max-width: 700px) {
    section {
        margin: 50px 20px;
    }
}


/* TRIP CARDS */
#outputSection {
    display: grid;
    grid-gap: 20px;
}

.tripCard {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: (300px * 2) / 3 150px;
    grid-template-areas:
        "img info"
        "weather weather";
    grid-gap: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    
    
    .tripImg {
        grid-area: img;
        
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }


    .tripInfo {
        grid-area: info;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        position: relative;


        .tripControls {
            position: absolute;
            bottom: 10px;

            input {
                width: 100px;
                height: 30px;
                border: 1px solid lightgrey;
                border-radius: 5px;
            }
        }

    }


    .weatherForecast {
        grid-area: weather;
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        .dailyForecast {
            width: 90px;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 90%;

            }

            p {
                line-height: 1.25em;
                font-size: 14px;
            }
        }
    }
}